<div class="userLinkContainer">
	<!-- TODO: Set the user object in the directive's controller scope, and use it throughout rather than calling the filter every time: -->
	<a href="#/user/{{linkUserId}}" ng-mouseover="mouseover(linkUserId)" ng-mouseleave="mouseleave()">{{linkUserId | gzUserIdToName:linkUserContacts}}</a>
	<div ng-if="hoverUserId" class="hoverUserPane">
		<img class="avatar" alt="{{linkUserId | gzUserIdToName:linkUserContacts}} avatar" src="api/user/{{linkUserId}}/image" />
		<b>{{hoverUserId | gzUserIdToName:linkUserContacts}}</b>
		{{hoverUserId | gzUserIdToEmail:linkUserContacts}}
	</div>
</div>