<div class="user-comment-block">
	<a href="javascript: showUserProfilePage(false, '{{comment.owner}}');" ng-show="comment.owner">
		<img class="avatar" alt="{{comment.owner | gzUserIdToName:userContacts}} avatar" src="api/user/{{comment.owner}}/image" />
	</a>
	
	<div class="btn-group" ng-hide="replyingToComment == comment.id || comment.owner != userAccount.userId">
		<button class="btn btn-default" ng-click="openEditComment(comment)" title="Edit Comment"><span class="glyphicon glyphicon-edit"></span></button>
		<button class="btn btn-default" ng-click="deleteComment(comment)" title="Delete Comment" ng-if="!comment.comments || comment.comments.length == 0"><span class="glyphicon glyphicon-trash"></span></button>
	</div>

	<div class="user-comment">
		<gz-user-link user-id="comment.owner" user-contacts="userContacts"></gz-user-link>
		<span class="text-muted"><small><abbr title="{{comment.updated | gzDate}}">{{comment.updated | gzFromNow}}</abbr></small></span>
		<p>{{comment.text}}</p>
		<button class="btn btn-link" ng-click="openReplyToComment(comment)" title="Reply To Comment" ng-hide="replyingToComment == comment.id">Reply</button>
	</div>
	
	<div class="comment-reply-form" ng-include="'partials/giftBag/commentsReplyForm.html'" ng-if="replyingToComment == comment.id"></div>
</div>

<ul>
	<li class="user-comment-row" ng-repeat="comment in comment.comments" ng-include="'partials/giftBag/commentsItem.html'">
	</li>
</ul>
	