<section ng-controller="CommentCtrl">
	<h2>Comments</h2>

	<ul class="user-comments-list">
		<li class="user-comment-row" ng-repeat="comment in giftBag.comments" ng-include="'partials/giftBag/commentsItem.html'">
		</li>
	</ul>
	
	<div ng-if="!replyingToComment" ng-include="'partials/giftBag/commentsReplyForm.html'"></div>
</section>