<form class="form-inline" role="form" ng-submit="postComment(newComment, comment)">
	<div class="row">
		<div class="form-group col-md-8">
			<input type="text" class="form-control" ng-model="newComment.text" />
		</div>
		<div class="col-md-4">
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-comment icon-white"></span> Post</button>
			<button type="button" class="btn btn-default" ng-click="resetReply()" ng-if="replyingToComment">Cancel</button>
		</div>
	</div>
</form>