<div>
	<div class="modal-header">
		<h3 class="modal-title" ng-if="giftProposal.id">Edit Gift Idea</h3>
		<h3 class="modal-title" ng-if="!giftProposal.id">New Gift Idea</h3>
	</div>
	<form name="editGiftProposalForm" class="form-horizontal" ng-submit="ok()" role="form" novalidate>
		<div class="modal-body">
			<div class="form-group">
				<label for="giftProposalName" class="col-md-3 control-label">Name</label>
				<div class="col-md-8">
					<input type="text" id="giftProposalName" ng-model="giftProposal.name" autocomplete="off" class="form-control" required gz-autofocus />
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary" ng-disabled="editGiftProposalForm.$invalid">OK</button>
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		</div>
	</form>
</div>