<section>
	<h2>Gift Ideas</h2>
	<ul class="list-unstyled giftIdeasList" ng-if="giftBag.giftProposals.length > 0">
		<li ng-repeat="giftProposal in giftBag.giftProposals">
			<div class="btn-group" ng-if="giftProposal.owner == userAccount.userId">
				<button class="btn btn-default" ng-click="openEditGiftProposalModal(giftProposal.id)" title="Edit Gift Idea"><span class="glyphicon glyphicon-edit"></span></button>
				<button class="btn btn-default" ng-click="deleteGiftProposalConfirm(giftProposal.id)" title="Delete Gift Idea"><span class="glyphicon glyphicon-trash"></span></button>
			</div>
			
			<div class="proposal-description">
				<h3>{{giftProposal.name}}</h3>
				<p class="text-muted">
					By: <gz-user-link user-id="giftProposal.owner" user-contacts="userContacts"></gz-user-link>
				</p>
			</div>
			
			<div class="proposal-votes">
				<progressbar value="(giftProposal.voters.length / maxVotes) * 100">
					<span ng-if="giftProposal.voters.length == 1">1 vote</span>
					<span ng-if="giftProposal.voters.length > 1">{{giftProposal.voters.length}} votes</span>
				</progressbar>
				
				<p class="text-muted">
					<span ng-if="giftProposal.voters && giftProposal.voters.length > 0">
						Voted: {{giftProposal.voters | gzConcatUsers:userContacts}}
					</span>
					<span ng-if="!giftProposal.voters || giftProposal.voters.length == 0">
						No votes yet.
					</span>
				</p>
				
				<button ng-if="!giftProposal.voters || !inArray(userAccount.userId, giftProposal.voters)" class="btn btn-success" ng-click="voteForGiftProposal(giftProposal.id);"><span class="glyphicon glyphicon-thumbs-up icon-white"></span> Vote</button>
				<button ng-if="giftProposal.voters && inArray(userAccount.userId, giftProposal.voters)" class="btn btn-default" ng-click="unvoteForGiftProposal(giftProposal.id);"><span class="glyphicon glyphicon-thumbs-down"></span> Un-vote</button>
			</div>
		</li>
	</ul>
	
	<a ng-click="openCreateGiftProposalModal();" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign icon-white"></span> New Idea</a>
</section>

<div id="editGiftProposalModalContainer"></div>