<section id="giftBudgetSection">
	<h2>Budget</h2>
    
	<form class="form-horizontal" role="form" name="editBudgetForm" ng-submit="saveEditGiftBudget()" novalidate>
		<div class="form-group">
			<label for="giftBudgetName" class="col-md-5 control-label">Total:</label>
			<div class="col-md-5">
				<input ng-if="pageState.editBudget" type="number" min="0" step="0.01" id="giftBudgetName" ng-model="giftBag.budget" required class="form-control" autofocus />
				<p ng-if="!pageState.editBudget" class="form-control-static">{{giftBag.budget | gzNumToDollars}}</p>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-5 control-label">Per Person:</label>
			<div class="col-md-5">
				<p class="form-control-static">{{(giftBag.budget / giftBag.participants.length) | gzNumToDollars}}</p>
			</div>
		</div>
	    
		<div ng-if="giftBag.owner == userAccount.userId && !pageState.editBudget">
			<button ng-if="giftBag.budget" class="btn btn-default" ng-click="editGiftBudget()"><span class="glyphicon glyphicon-edit"></span> Edit</button>
			<button ng-if="!giftBag.budget" class="btn btn-primary" ng-click="editGiftBudget()"><span class="glyphicon glyphicon-edit icon-white"></span> Set</button>
		</div>
		<div ng-if="pageState.editBudget">
			<button type="submit" class="btn btn-primary" ng-disabled="editBudgetForm.$invalid">Save</button>
			<button class="btn btn-default" ng-click="cancelEditGiftBudget()">Cancel</button>
		</div>
	</form>

</section>