<section>
	<ul class="giftBagsList">
		<!-- TODO: Sort by: My bags, Bags with ideas, Empty bags -->
		<li ng-repeat="currentGiftBag in occasion.giftBags" class="{{currentGiftBag.id == giftBag.id ? 'selected' : ''}}">
			<button class="btn btn-link" ng-if="giftBag.owner == userAccount.userId && occasion.giftBags.length > 1" ng-click="deleteGiftBagConfirm(occasion.id, giftBag.id)" title="Delete Gift Bag"><span class="glyphicon glyphicon-trash"></span></button>
			<a href="#/occasion/{{occasion.id}}/giftbag/{{currentGiftBag.id}}">
				<img src="img/gift-icon.png" alt="gift bag" class="gift-icon" />
				<div ng-init="invitation = getGiftBagInvitation(occasion.id, currentGiftBag.id)">
					<p ng-show="invitation">
						<button ng-click="acceptGiftBagInvitation(invitation.id)" ng-show="invitation">Accept invite...</button>
						<span ng-hide="invitation">Joined!</span>
					</p>
				</div>
				<p>
					<!-- TODO: Show top idea, not first idea: -->
					<span ng-if="currentGiftBag.giftProposals"><img src="img/ideas-icon.png" alt="Top Idea" /> {{currentGiftBag.giftProposals[0].name}}</span>
					<span ng-if="!currentGiftBag.giftProposals">No Ideas</span>
				</p>
				<p>
					<!-- TODO: Format participants list: -->
					<img src="img/participants-icon.png" alt="Participants" /> {{currentGiftBag.participants | gzConcatUsers:userContacts}}
				</p>
			</a>
		</li>
	</ul>
	
	<button class="btn-new-gift-bag" ng-click="createGiftBag(occasion.id)"><span class="glyphicon glyphicon-plus-sign icon-white"></span> New Gift Bag</button>
</section>