<section id="participantsSection">
	<h2>Participants</h2>
	<ul class="list-unstyled participantsList">
		<li ng-repeat="participant in giftBag.participants">
			<gz-user-link user-id="participant" user-contacts="userContacts"></gz-user-link>
		</li>
	</ul>
	
	<h2>Invited</h2>
	<ul class="list-unstyled participantsList">
		<li ng-repeat="invitee in invitees">
			{{invitee.email}}<br/>
			(on {{invitee.created}})
		</li>
	</ul>
	
	<form name="inviteParticipantsForm" ng-if="pageState.inviteParticipants" ng-submit="inviteParticipants()" novalidate class="form-horizontal" role="form">
		<input type="text" class="form-control" placeholder="email / username" ng-model="newInvitee.email" required autofocus />
		<label for="suggestCurrentGiftBag">Suggest current Gift Bag</label>
		<input type="checkbox" class="form-control" id="suggestCurrentGiftBag" ng-model="newInvitee.suggestCurrentGiftBag" />
		<button type="submit" class="btn btn-primary" ng-disabled="inviteParticipantsForm.$invalid">Invite</button>
		<button type="button" class="btn btn-default" ng-click="cancelInviteParticipants()">Cancel</button>
	</form>
	
	<button ng-if="giftBag.owner == userAccount.userId && !pageState.inviteParticipants" class="btn btn-primary" ng-click="pageState.inviteParticipants = true"><span class="glyphicon glyphicon-plus-sign icon-white"></span> Invite</button>
</section>

<div id="inviteParticipantsModalContainer"></div>