<div>
	<div class="modal-header">
		<h3 class="modal-title" ng-if="occasion.id">Edit Occasion</h3>
		<h3 class="modal-title" ng-if="!occasion.id">New Occasion</h3>
	</div>
	<form name="editOccasionForm" class="form-horizontal" ng-submit="ok()" role="form">
		<div class="modal-body">
			<div class="form-group">
				<label for="occasionRecipient" class="col-md-3 control-label">Recipient</label>
				<div class="col-md-8">
					<input type="text" id="occasionRecipient" ng-model="occasion.recipient" autocomplete="off" class="form-control" required gz-autofocus />
				</div>
			</div>
			<div class="form-group">
				<label for="occasionDescription" class="col-md-3 control-label">Occasion</label>
				<div class="col-md-8">
					<input type="text" id="occasionDescription" ng-model="occasion.description" autocomplete="off" class="form-control" required />
				</div>
			</div>
			<div class="form-group">
				<label for="occasionDate" class="col-md-3 control-label">Date</label>
				<div class="col-md-4">
					<input type="text" id="occasionDate" ng-model="occasion.date" datepicker-popup="yyyy-MM-dd" placeholder="yyyy-mm-dd" class="form-control" required />
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary" ng-disabled="editOccasionForm.$invalid">OK</button>
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		</div>
	</form>
</div>