<section class="hidden-phone" id="calendarSection" gz-affix>
	<h2>Calendar</h2>
	
	<div class="btn-group">
		<button class="btn btn-default" ng-click="occasionsCalendarPrev();" title="Previous Month"><span class="glyphicon glyphicon-chevron-left"></span></button>
		<button class="btn btn-default" ng-click="occasionsCalendarNext();" title="Next Month"><span class="glyphicon glyphicon-chevron-right"></span></button>
	</div>
	
	<p><strong id="occasionsCalendarMonth"></strong></p>
	<p class="text-muted"><small id="occasionsCalendarYear"></small></p>
	
	<div id="occasionsCalendarContainer"></div>
</section>