<section>
	<div class="row">
		<div class="col-md-4">
			<input type=text class="form-control" placeholder="Search" ng-model="occasionsFilter.description" autofocus />
		</div>
	</div>

	<ul class="occasionsList" ng-if="occasionList.length > 0">
		<li ng-repeat="occasion in occasionList | filter:occasionsFilter" class="{{occasion.nowSeparator ? 'list-delimiter-container' : ''}}">
			<div ng-if="occasion.nowSeparator" class="list-delimiter" style="position: relative;" ng-click="showTodayOnCalendar()">
				<h2>Today</h2>
				<p style="display: inline-block; position: absolute; top: 6px; right: 10px;">Past <span class="glyphicon glyphicon-circle-arrow-up" title="up"></span></p>
				<p style="display: inline-block; position: absolute; bottom: 2px; right: 10px;">Future <span class="glyphicon glyphicon-circle-arrow-down" title="down"></span></p>
			</div>
			
			<div ng-if="!occasion.nowSeparator">
				<div class="row">
					<div class="col-md-2">
						<div class="occasion-date-block" id="occasion-date-box-{{occasion.id}}" ng-click="showDateOnCalendar(occasion.date)">
							<p class="date-block-date">{{occasion.date | gzMonthAndDay}}</p>
							<p class="date-block-year">{{occasion.date | gzYear}}</p>
						</div>
					</div>
					
					<!-- TODO: Use most relevant bag, not first (i.e. one I participate in and last updated) -->
					<div class="col-md-8" ng-init="giftBag = occasion.giftBags[0]">
						<h2><a href="#/occasion/{{occasion.id}}/giftbag/{{giftBag.id}}">{{occasion.recipient}}'s {{occasion.description}}</a></h2>
						
						<a href="#/occasion/{{occasion.id}}/giftbag/{{giftBag.id}}">
							<div class="gift-bag-summary {{(occasion.giftBags.length > 2) ? 'multiple-bags' : ''}} {{(occasion.giftBags.length == 2) ? 'two-bags' : ''}}">
								<img src="img/gift-icon.png" alt="gift bag" class="gift-icon" />
								
								<p>
									<!-- TODO: Show top idea, not first idea: -->
									<span ng-if="giftBag.giftProposals"><img src="img/ideas-icon.png" alt="Top Idea" /> {{giftBag.giftProposals[0].name}}</span>
									<span ng-if="!giftBag.giftProposals">No Ideas</span>
								</p>
								<p>
									<!-- TODO: Format participants list: -->
									<img src="img/participants-icon.png" alt="Participants" /> {{giftBag.participants | gzConcatUsers:userContacts}}
								</p>
								
								<div ng-init="invitation = getGiftBagInvitation(occasion.id, giftBag.id)">
									<div ng-if="invitation">
										<p>You have been invited to participate in this Gift Bag!</p>
										<button class="btn btn-success" ng-click="acceptGiftBagInvitation(invitation.id);"><span class="glyphicon glyphicon-ok icon-white"></span> Accept Invitation</button>
									</div>
								</div>
							</div>
						</a>
					</div>
				
					<div class="col-md-2">
						<div class="btn-group occasion-btn-group" ng-if="occasion.owner == userAccount.userId">
							<button class="btn btn-default" ng-click="openEditOccasionModal(occasion.id)" title="Edit Occasion"><span class="glyphicon glyphicon-edit"></span></button>
							<button class="btn btn-default" ng-click="deleteOccasionConfirm(occasion.id)" title="Delete Occasion"><span class="glyphicon glyphicon-trash"></span></button>
						</div>
					</div>
				</div>
				
				<p class="text-muted hidden-phone"><small>
					Created by 
					<gz-user-link user-id="occasion.owner" user-contacts="userContacts"></gz-user-link>
					<abbr title="{{occasion.created | gzDate}}">{{occasion.created | gzFromNow}}</abbr>.
					
					Last updated
					<abbr title="{{occasion.updated | gzDate}}">{{occasion.updated | gzFromNow}}</abbr>.
				</small></p>
			</div>
		</li>
	</ul>
</section>