/* Custom CSS for jquery.calendario.js plugin. */

.fc-calendar {
	background-color: #f6f6f6;
	border: 1px solid #777;
	border-radius: 5px;
	display: inline-block;
	width: 100%;
}

.fc-calendar div {
	display: inline-block;
}

.fc-head {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.fc-head, .fc-body {
	width: 100%;
}

.fc-head {
	background-color: #ddd;
}

.fc-row {
	line-height: normal;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.fc-head div, .fc-row div {
	box-sizing: border-box;
	overflow: hidden;
	padding: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	width: 14.28%;
}

.fc-row div {
	border-radius: 5px;
}

/* hide weekday names in calendar body */
.fc-row .fc-weekday {
	display: none;
}

.fc-row div.fc-today {
	border: 2px solid #acc;
	padding-top: 2px;
	padding-bottom: 2px;
}

.fc-content {
	background-color: #08c;
	color: #fff;
	cursor: pointer;
}

/* hide event details in calendar body */
.fc-content div {
	display: none;
}



@media (max-width: 979px) {
	.fc-calendar {
		font-size: 10px;
	}
	
	.fc-head div {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
	}
}
