/*===== Common =====*/

body {
	background-color: #eceef0;
	background: -webkit-radial-gradient(circle, #f4efd9, #fbeb9d);
	padding-top: 50px;
}

section {
	margin-bottom: 30px;
}

#centerContainer {
	background-color: #fafafa;
	border: 1px solid #e2d492;
	border-radius: 15px;
	padding: 10px;
	min-height: 500px;
}

h1, h2 {
	margin: 0px;
	word-wrap: break-word;
}

h1 a {
	color: #65a8e3;
}

h1 a:hover {
	color: #efefef;
	text-decoration: none;
}

h2 {
	font-size: 2em;
	margin-bottom: 4px;
}

h3 {
	font-size: 1.6em;
}

.header-row {
	background-color: #0b80bc;
	margin-bottom: 20px;
}

.header-row h1, .header-row h2 {
	color: #efefef;
	text-shadow: none;
}

.header-row .btn {
	position: absolute;
	top: 25px;
	right: 50px;
}

#headerContainer {
	position: relative;
}

header {
	margin: 14px;
	padding: 8px;
	text-shadow: 2px 2px 3px #ccc;
}

hr {
	border-botom: none;
	border-top-color: #3b4044;
}

form {
	margin: 0px;
}

form input.ng-invalid.ng-dirty {
	background-color: #eed0d0;
}
    
form input.ng-valid.ng-dirty {
	background-color: #d4eed0;
}

footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #222;
}

footer p {
	margin-bottom: 0;
	color: #777;
}

p.muted {
	margin: 0px;
}

a.anchor {
	display: block;
	position: relative;
	top: -60px;
	visibility: hidden;
}

#calendarSection, #giftBudgetSection, #participantsSection {
	background-color: #3b4044;
	border-radius: 15px;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	/* prevent padding from affecting percent-based width: */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

#calendarSection h2, #calendarSection p,
#giftBudgetSection h2, #giftBudgetSection p, #giftBudgetSection label,
#participantsSection h2, #participantsSection p {
	color: #eee;
}

.userLinkContainer {
	display: inline-block;
	position: relative;
}

.hoverUserPane {
	background-color: #fafafa;
	border: 1px solid #888;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.5);
	box-shadow: 0 1px 10px rgba(0,0,0,0.5);
	color: #555;
	display: inline-block;
	font-size: 13px;
	padding: 10px;
	position: absolute;
	top: 20px;
	width: 260px;
	z-index: 100;
}



/*===== Navbar =====*/

#navbarUserContainer {
	float: right;
	padding-right: 20px;
}

#feedbackFormModal textarea {
	width: auto;
}

.navbar .dropdown-menu form {
	margin: 0px;
}

.navbar .dropdown-menu button {
	background: none;
	border: 0px;
	font-weight: normal;
	line-height: 20px;
	padding: 3px 20px;
	text-align: left;
	width: 100%;
}

.navbar .dropdown-menu button:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.navbar .dropdown-menu img {
	padding-bottom: 3px;
}



/*===== Login Page =====*/

.jumbotron {
	background-color: #0b80bc;
	margin-top: 20px;
}

.jumbotron h1 {
	color: #eee;
}

.jumbotron p {
	color: #333;
	padding-top: 10px;
	padding-bottom: 10px;
}

.jumbotron .btn-warning {
	color: #333;
}

.login-marketing {
	margin-bottom: 60px;
}

.sign-up h2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.sign-up .well .btn {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}



/*===== Sign Up Page =====*/

#socialSignInSection .btn {
	background-color: #e9e9e9;
	border: 1px solid #ccc;
}

#socialSignInSection .btn img {
	margin-right: 10px;
}



/*===== Occasions Page =====*/
#calendarSection .btn-group {
	float: right;
}

#calendarSection.affix {
    position: fixed;
    top: 50px;
}

.fc-date {
	cursor: pointer;
}


ul.occasionsList {
	list-style: none;
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0px;
}

ul.occasionsList>li {
	margin: 2px;
	margin-bottom: 30px;
	padding: 0px;
}

ul.occasionsList>li>a {
	margin-left: 20px;
}

ul.occasionsList>li>p.muted {
	margin-top: 20px;
}

ul.occasionsList h2 {
	color: #525252;
	display: inline-block;
	font-size: 18pt;
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;
}

ul.occasionsList a:hover {
	text-decoration: none;
}

ul.occasionsList .btn-group {
	float: right;
}

ul.occasionsList>li .occasion-btn-group {
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

ul.occasionsList>li:hover .occasion-btn-group {
	filter: alpha(opacity=1);
	opacity: 1;
}

ul.occasionsList>li:hover .occasion-btn-group, ul.occasionsList>li:hover>p.muted {
	filter: alpha(opacity=1);
	opacity: 1;
}

.occasion-date-block {
	background-color: #8b8b8b;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	height: 120px;
	width: 100%;
}

.occasion-date-block p {
	margin: 2px 0px 0px 6px;
	padding: 0px;
}

.date-block-date {
	color: #fff;
	font-size: 18pt;
	font-weight: bold;
}

.date-block-year {
	color: #c2c2c2;
	font-size: 10pt;
}

.gift-bag-summary {
	background-color: #d1e1ed;
	border: 0px;
	color: #333;
	display: block;
	margin-bottom: 10px;
	padding: 8px;
}

.two-bags {
	box-shadow: 8px 8px 0px 0px #b0c7d8;
	margin-bottom: 12px;
}

.multiple-bags {
	box-shadow: 8px 8px 0px 0px #b0c7d8, 16px 16px 0px 0px #91acc0;
	margin-bottom: 20px;
}

.gift-bag-summary h3 {
	color: #211d1e;
	font-size: 14px;
	margin: 0px;
	margin-bottom: 10px;
}

.gift-bag-summary:hover button.btn, .gift-bag-summary:hover p.muted {
	filter: alpha(opacity=1);
	opacity: 1;
}

.gift-icon {
	float: left;
	margin: 6px;
	margin-right: 14px;
}

.list-delimiter {
	background-color: #eeeeee;
	border: 1px solid #bebebe;
	border-left: none;
	border-right: none;
	color: #aaa;
	cursor: pointer;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	width: 100%;
}

ul.occasionsList .list-delimiter h2 {
	color: #aaa;
	font-weight: normal;
	margin: 20px;
}



/*===== Gift Bag Page =====*/
#centerContainer.center-container-gift-bag {
	border-top-left-radius: 0px;
}

#centerContainer>.btn {
	float: right;
}

.user-comments-list {
	margin-top: 10px;
	padding-left: 4px;
}

.user-comments-list li {
	list-style: none;
}

.user-comment-block {
	display: block;
	margin-bottom: 10px;
	margin-left: 0px;
	padding: 4px;
}

.user-comment-block .btn-group {
	float: right;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.user-comment-block:hover .btn-group {
	filter: alpha(opacity=1);
	opacity: 1;
}

.user-comment>.btn {
	padding: 0px;
}

.comment-reply-form {
	margin-top: 10px;
	margin-left: 56px;
}

.avatar {
	display: inline-block;
	float: left;
	height: 50px;
	margin-right: 10px;
	width: 50px;
}

.user-comment {
	margin-left: 60px;
}

.user-comment a {
	font-size: 12pt;
	font-weight: bold;
}

ul.giftBagsList {
	margin: 0px;
	padding: 0px;
}

ul.giftBagsList a {
	color: #222;
}

ul.giftBagsList a:hover {
	text-decoration: none;
}

ul.giftBagsList li, .btn-new-gift-bag {
	background-color: #d1e1ed;
	border: 1px solid #ccc;
	border-right: 0px;
	border-radius: 15px 0px 0px 15px;
	list-style: none;
	padding: 10px;
	left: 16px;
	position: relative;
}

ul.giftBagsList li {
	min-height: 84px;
}

ul.giftBagsList li.selected {
	background-color: #fafafa;
	border-color: #e2d492;
	z-index: 99;
}

ul.giftBagsList li button {
	float: right;
}

.btn-new-gift-bag {
	background-color: #ddd;
	border-color: #ccc;
	filter: alpha(opacity=0.5);
	opacity: 0.5;
	text-align: left;
	width: 100%;
}

.btn-new-gift-bag:hover {
	filter: alpha(opacity=1);
	opacity: 1;
}

ul.participantsList, ul.contactsList {
	border-radius: 5px;
}

ul.participantsList li, ul.contactsList li {
	border-top: 1px solid #ddd;
	padding: 8px;
}

ul.participantsList li:nth-child(odd), ul.contactsList li:nth-child(odd) {
	background-color: #f9f9f9;
}

ul.participantsList li:nth-child(even), ul.contactsList li:nth-child(even) {
	background-color: #eaeaea;
}

ul.giftIdeasList {
	margin-bottom: 20px;
}

ul.giftIdeasList h3 {
	margin: 0px;
	padding: 0px;
}

ul.giftIdeasList li {
	padding: 10px;
	padding-bottom: 15px;
}

ul.giftIdeasList li .btn-group {
	float: right;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

ul.giftIdeasList li:hover, .user-comment-block:hover, ul.occasionsList li:hover {
	background: rgb(240, 240, 240); /* fall-back */
	background: rgba(0, 0, 0, .05);
	border-radius: 5px;
}

ul.giftIdeasList li:hover .btn-group {
	filter: alpha(opacity=1);
	opacity: 1;
}

.proposal-description, .proposal-votes {
	display: inline-block;
}

.proposal-description {
	float: left;
	min-width: 200px;
}

.proposal-votes {
	border-left: 1px solid #bbb;
	margin-left: 8px;
	min-width: 300px;
	padding: 4px;
	padding-left: 10px;
}

/*===== Profile Page =====*/

img.avatarOnProfile {
	height: 100px;
	margin: 20px;
	width: 100px;
}

form[name=editAvatarForm] img.avatarOnProfile {
	margin: 0px;
}

.oldAvatar {
	filter: alpha(opacity=0.3);
	opacity: 0.3;
}

.editAvatarButton {
	cursor: pointer;
	display: inline-block;
}

.editAvatarButton img.avatarOnProfile {
	margin-bottom: 2px;
}

.editAvatarButton .edit {
	color: #428bca;
	display: block;
	text-align: center;
	visibility: hidden;
}

.editAvatarButton:hover .edit {
	visibility: visible;
}

.btn-connect {
	position: relative;
}

.btn-connect span {
	left: 60px;
	position: absolute;
	top: 10px;
}

/*===== Responsive =====*/

/* Smaller than desktop */
@media (max-width: 991px) {
	ul.giftBagsList li, .btn-new-gift-bag {
		border-width: 1px;
		border-radius: 5px;
		padding: 10px;
		left: 0px;
	}
	
	#centerContainer.center-container-gift-bag {
		border-radius: 15px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
	ul.occasionsList li button.btn, ul.occasionsList p.muted {
		filter: alpha(opacity=1);
		opacity: 1;
	}
	
	ul.occasionsList small {
		display: none;
	}
	
	.fc-calendar {
		font-size: 12px;
	}
	
	.fc-head div {
		height: 40px;
	}
}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	body {
		font-size: 16px;
	}
	
	header {
		margin: 2px;
	}
	
	h1, h2, h3 {
		margin: 2px;
	}
	
	h1 {
		font-size: 28px;
	}
	
	h2 {
		font-size: 25px;
	}
	
	h3 {
		font-size: 20px;
	}
	
	label {
		font-size: 16px;
	}
	
	input[class=input-small], input[type=text], input[type=email], input[type=password] {
		font-size: 18px;
	}
}