<div ng-if="userAccount.userId != currentUser.userId">
	<img class="avatarOnProfile" ng-src="{{userAccount.imageUrl || 'img/default-avatar.png'}}" />
</div>



<div ng-if="!pageState.editAvatar && userAccount.userId == currentUser.userId" class="form-horizontal">
	<div class="form-group">
		<div class="col-md-3">
			<div class="editAvatarButton" ng-click="editAvatar()">
				<img class="avatarOnProfile" ng-src="{{userAccount.imageUrl || 'img/default-avatar.png'}}" />
				<span class="edit">Edit avatar</span>
			</div>
		</div>
	</div>
</div>



<form name="editAvatarForm" ng-if="pageState.editAvatar" ng-submit="saveEditAvatar()" novalidate class="form-horizontal" role="form">
	<div class="col-md-6">
	<h2>Upload</h2>
   	<div class="form-group">
		<div class="col-md-12">
			<img class="avatarOnProfile {{newAvatar.file ? 'oldAvatar' : ''}}" ng-model="userAccount.tempImageUrl" ng-src="{{userAccount.tempImageUrl || 'api/user/' + currentUser.userId + '/image'}}" />
			
			<div ng-show="currentUser.hasFacebookConnection || currentUser.hasGoogleConnection || currentUser.hasTwitterConnection">
				<input type="radio" name="imageUrl" ng-model="userAccount.imageUrl" id="radioAvatar" value="api/user/{{currentUser.userId}}/image"/>
				<label for="radioAvatar">Use uploaded image</label>
			</div>
			
			<div>
			    <input id="avatarFileUpload" type="file" gz-file-upload="bytes" handler="locateAvatarFile" formats="png" max-size="1000" style="visibility:hidden" />
			    <div ng-if="newAvatar.file">
				    <p>New File: {{newAvatar.file.name}}</p>
				    <p>Type: {{newAvatar.file.type}}</p>
				    <p>Size: {{newAvatar.file.size / 1000}}kb</p>
			    </div>
			    <button type="button" class="btn btn-default" onclick="$('#avatarFileUpload').click();">{{newAvatar.file ? 'Change' : 'Upload'}}</button>
		    </div>
		</div>
	</div>
	</div>

	<div class="col-md-6">
	<h2>Connect</h2>
	<div class="form-group">
		<div class="col-md-12">
			<span ng-if="currentUser.hasFacebookConnection">
				<img ng-src="{{currentUser.facebookConnection.imageUrl}}"/>
				<input type="radio" name="imageUrl" ng-model="userAccount.imageUrl" id="radioAvatarF" value="{{currentUser.facebookConnection.imageUrl}}"/>
				<label for="radioAvatarF">Use Facebook image</label>
			</span>
			<span ng-if="!currentUser.hasFacebookConnection">
				<a href="javascript:$('#connectWithFacebookForm').submit()" class="btn btn-connect">
					<img src="img/fb_logo.png" alt="Facebook logo" />
					<span>Connect with Facebook</span>
				</a>
			</span>
			<br/>
			
			<span ng-if="currentUser.hasGoogleConnection">
				<img ng-src="{{currentUser.googleConnection.imageUrl}}"/>
				<input type="radio" name="imageUrl" ng-model="userAccount.imageUrl" id="radioAvatarG" value="{{currentUser.googleConnection.imageUrl}}"/>
				<label for="radioAvatarG">Use Google+ image</label>
			</span>
			<span ng-if="!currentUser.hasGoogleConnection">
				<a href="javascript:$('#connectWithGoogleForm').submit()" class="btn btn-connect">
					<img src="img/google_logo.png" alt="Google logo" />
					<span>Connect with Google</span>
				</a>
			</span>
			<br/>
			
			<span ng-if="currentUser.hasTwitterConnection">
				<img ng-src="{{currentUser.twitterConnection.imageUrl}}"/>
				<input type="radio" name="imageUrl" ng-model="userAccount.imageUrl" id="radioAvatarT" value="{{currentUser.twitterConnection.imageUrl}}"/>
				<label for="radioAvatarT">Use Twitter image</label>
			</span>
			<span ng-if="!currentUser.hasTwitterConnection">
				<a href="javascript:$('#connectWithTwitterForm').submit()" class="btn btn-connect">
					<img src="img/twitter_logo.png" alt="Facebook logo" />
					<span>Connect with Twitter</span>
				</a>
			</span>
		</div>
   	</div>
   	</div>

	<div class="form-group">
		<div class="col-md-12">
			<button type="submit" class="btn btn-primary" ng-disabled="editAvatarForm.$invalid || isAvatarUnchanged()">Save</button>
			<button type="button" class="btn btn-default" ng-click="cancelEditAvatar()">Cancel</button>
		</div>
	</div>
</form>

<div ng-if="userAccount.userId == currentUser.userId">
	<form id="connectWithTwitterForm"  action="connect/twitter"  method="POST"></form>
	<form id="connectWithFacebookForm" action="connect/facebook" method="POST"></form>
	<form id="connectWithGoogleForm"   action="connect/google"   method="POST">
		<input type="hidden" name="scope" value="https://www.googleapis.com/auth/userinfo.profile" />
	</form>
</div>