<section>
	<div ng-include="'partials/userProfile/avatar.html'"></div>
	<div ng-include="'partials/userProfile/userDetails.html'"></div>
    
    <!-- TODO: For debugging only: 
    <pre>userAccount = {{userAccount | json}}</pre>
	-->
	
</section>