<section ng-if="userContacts && userContacts.length > 0">
	<h2>Contacts</h2>
	<ul class="list-unstyled contactsList">
		<li ng-repeat="userContact in userContacts">
			<a href="#/user/{{userContact.userId}}">{{userContact.email}} - {{userContact.displayName}}</a>
		</li>
	</ul>
</section>