<div ng-if="!pageState.editUserProfile && !pageState.editAvatar" class="form-horizontal">
	<div class="form-group">
		<div class="col-md-3 control-label">Email:</div>
		<div class="col-md-6"><p class="form-control-static">{{userAccount.email}}</p></div>
	</div>

	<div class="form-group">
		<div class="col-md-3 control-label">Display Name:</div>
		<div class="col-md-6"><p class="form-control-static">{{userAccount.displayName}}</p></div>
	</div>

	<div class="form-group" ng-if="userAccount.userId == currentUser.userId && !pageState.editAvatar">
		<div class="col-md-6 col-md-offset-3">
			<button type="button" class="btn btn-default" ng-click="editUserProfile()"><span class="glyphicon glyphicon-edit"></span> Edit</button>
		</div>
	</div>
</div>



<form name="editUserProfileForm" ng-if="pageState.editUserProfile" ng-submit="saveEditUserProfile()" novalidate class="form-horizontal" role="form">
	<div class="form-group">
		<label for="userProfileEmail" class="col-md-3 control-label">New Email:</label>
		<div class="col-md-6">
			<input type="email" id="userProfileEmail" name="email" ng-model="userAccount.email" required class="form-control" autofocus />
		</div>
		<span class="help-inline">
			<span ng-show="editUserProfileForm.email.$error.required">Email is required.</span>
			<span ng-show="editUserProfileForm.email.$error.email">This is not a valid email.</span>
		</span>
	</div>

	<div class="form-group">
		<label for="userProfileDisplayName" class="col-md-3 control-label">New Display Name:</label>
		<div class="col-md-6">
			<input type="text" id="userProfileDisplayName" name="displayName" ng-model="userAccount.displayName" required class="form-control" />
		</div>
	</div>
	
	<div class="form-group">
		<label for="userProfileDisplayName" class="col-md-3 control-label">New Password:</label>
		<div class="col-md-6">
			<input type="text" id="userProfileDisplayName" name="newPassword" ng-model="userAccount.newPassword" class="form-control" />
		</div>
	</div>
	
	<div class="form-group">
		<label for="userProfileDisplayName" class="col-md-3 control-label">Confirm New Password:</label>
		<div class="col-md-6">
			<input type="text" id="userProfileDisplayName" name="newPasswordConfirm" ng-model="userAccount.newPasswordConfirm" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-6 col-md-offset-3">
			<button type="submit" class="btn btn-primary" ng-disabled="editUserProfileForm.$invalid || isUserUnchanged()">Save</button>
			<button type="button" class="btn btn-default" ng-click="cancelEditUserProfile()">Cancel</button>
		</div>
	</div>
</form>