<div class="row header-row">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-md-offset-3" id="headerContainer">
				<header>
					<h1>About</h1>
				</header>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-9 col-md-offset-3" id="centerContainer">
			<section>
				<h2>GiftOZone</h2>
				<p>GiftOZone is an epic new app that makes gift giving a breeze.</p>
			</section>
		</div>
	</div>
</div>