<div>
	<div class="modal-header">
		<h3 class="modal-title">Confirm</h3>
	</div>
	<div class="modal-body">
		<p>{{message}}</p>
	</div>
	<div class="modal-footer">
		<form ng-submit="ok()">
			<button type="submit" class="btn btn-primary" gz-autofocus>OK</button>
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		</form>
	</div>
</div>