<div>
	<div class="modal-header">
		<h3 class="modal-title">Feedback</h3>
	</div>
	<form class="form-horizontal" ng-submit="ok(feedback)">
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="occasionRecipient">Severity</label>
				<div class="controls">
					<select ng-model="feedback.severity" id="feedbackFormSeverity">
						<option value="note">This is awesome!</option>
						<option value="enhancement">Wouldn't it be nice...</option>
						<option value="bug">Well this is frustrating...</option>
						<option value="severe bug">Aaaaah!! Nothing is working!!</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="feedbackMessage">Message</label>
				<div class="controls"><textarea ng-model="feedback.message" id="feedbackMessage" rows="6" cols="50"></textarea></div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">OK</button>
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		</div>
	</form>
</div>