<div class="row header-row">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-md-offset-3" id="headerContainer">
				<header>
					<h1><a href="#/occasions">Occasions</a> &raquo; {{occasion.recipient}}'s {{occasion.description}}</h1>
				</header>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div ng-include="'partials/giftBag/giftBagsList.html'"></div>
			<div ng-include="'partials/giftBag/giftBudget.html'"></div>
			<div ng-include="'partials/giftBag/participants.html'"></div>
		</div>
		<div class="col-md-9 center-container-gift-bag" id="centerContainer">
			<div ng-include="'partials/giftBag/giftProposals.html'"></div>
			<div ng-include="'partials/giftBag/comments.html'"></div>
		</div>
	</div>
</div>