<div class="row header-row">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-md-offset-3" id="headerContainer">
				<header>
					<h1>Occasions</h1>
				</header>
				
				<button class="btn btn-primary" ng-click="openCreateOccasionModal()"><span class="glyphicon glyphicon-plus-sign icon-white"></span> New Occasion</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div ng-include="'partials/occasions/occasionsCalendar.html'"></div>
		</div>
		<div class="col-md-9" id="centerContainer">
			<div ng-include="'partials/occasions/occasionsList.html'"></div>
		</div>
	</div>
</div>