<div class="row header-row">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-md-offset-3" id="headerContainer">
				<header>
					<h1>User Profile</h1>
					<h2>{{userAccount.displayName || userAccount.email}}</h2>
				</header>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div ng-include="'partials/userProfile/userContacts.html'"></div>
		</div>
		<div class="col-md-9" id="centerContainer">
			<div ng-include="'partials/userProfile/userProfile.html'"></div>
		</div>
	</div>
</div>